div, h1, h2, h3, p, img, section, video {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
  background-color: #f2f2f2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo__place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  margin-left: 64px;
  margin-top: 30px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 96px;
  font-size: 102px;
  font-style: 600px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  margin-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
  font-style: 600;
}

.techniques {
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-size: 60px;
  font-style: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.cards {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 60px;
  grid-column-gap: 100px;
}

.cards__image {
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 43px;
  width: 160px;
  height: 160px;
}

.cards__title {
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-style: 600;
}

.cards__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-style: normal;
}


.digits {
  margin-top: 100px;
}

.table {
  margin: 60px auto 100px auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
  margin-right: auto;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-style: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.kaufman {
  background-color: black;
}

.table__theme_dark {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_cell_theme_dark {
  width: 200px;
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-style: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.section-title__theme_dark {
  color: white;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-style: 600;
}

.section-subtitle__theme_dark {
  color: white;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px auto;
  display: flex;
  justify-content: space-between;
}


.footer {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  min-height: 350px;
}

.footer__column_content_copyright {
  color: white;
  flex-basis: 711px;
}

.logo__place_footer {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.footer__column_content_info {
  color: white;
  margin-left:auto;
  margin-right:auto;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-style: 600;
  margin-bottom: 10px;
  margin-top: 0;
  color: white;
}

.footer__column-links {
  list-style: none;
  line-height: 18px;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 16px;
  padding-left: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

.footer__column-link {
  position: relative;
  margin-bottom: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer a {
  display: block;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 100px;
  overflow: hidden;
  
}

.video__iframes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: hidden;
}

.video__iframe {
  margin-right: 20px;
}

.oalkey {
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 40px;
}

.oalkey p {
  margin:0;
}























































